Deprecated
Pillow
PySide2
PySoundFile
PyWavelets
SoundFile
StrEnum
aggdraw
appdirs
attrs
audioread
budoux
certifi
cffi
chardet
charset-normalizer
cycler
dataclasses
decorator
docopt
idna
imageio
importlib-metadata
jaconv
joblib
kiwisolver
librosa
llvmlite
matplotlib
networkx
numba
numpy
packaging
pooch
psd-tools
pyautogui
pycparser
pykakasi
pyparsing
pyperclip
python-dateutil
requests
resampy
scikit-image
scikit-learn
scipy
shiboken2
six
threadpoolctl
tifffile
timecode
typing_extensions
urllib3
watchdog
webvtt-py
wrapt
zipp