aggdraw==1.3.16
appdirs==1.4.4
attrs==23.1.0
audioread==3.0.0
budoux==0.5.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
Cython==0.29.35
decorator==5.1.1
Deprecated==1.2.14
docopt==0.6.2
EasyProcess==1.1
entrypoint2==1.1
idna==3.4
imageio==2.30.0
jaconv==0.3.4
joblib==1.2.0
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.40.0
MouseInfo==0.1.3
msgpack==1.0.5
mss==9.0.1
networkx==3.1
numba==0.57.0
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
platformdirs==3.5.1
pooch==1.6.0
psd-tools==1.9.24
PyAutoGUI==0.9.54
pycparser==2.21
pykakasi==2.2.1
PyMonCtl==0.5
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
PySoundFile==0.9.0.post1
pytsmod==0.3.6
pytweening==1.0.7
PyWavelets==1.4.1
PyWinBox==0.5
PyWinCtl==0.1
pyworld==0.3.3
requests==2.31.0
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
shiboken6==6.5.2
six==1.16.0
soundfile==0.12.1
soxr==0.3.5
StrEnum==0.4.10
threadpoolctl==3.1.0
tifffile==2023.4.12
typing_extensions==4.6.3
urllib3==2.0.2
watchdog==3.0.0
wrapt==1.15.0
